 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles

header {
  text-align: center;
}

main {
  overflow: auto;
}

.queue {
  box-sizing: border-box;
  width: 49%;
  display: inline-block;
  overflow: auto;
  padding: 10px;
}

.jake {
  float: right;
}


footer {
  margin-top: 50px;
  text-align: center;
}
