 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles

.queue {
  box-sizing: border-box;
  width: 49%;
  display: inline-block;
  overflow: auto;
  padding: 10px;
}

footer {
  margin-top: 50px;
}
