<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <title>queue</title>

    <link rel="icon" href="favicon.ico?v1" type="image/ico">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="../bower_components/normalize-css/normalize.css" />
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->

    <!-- build:js scripts/vendor/modernizr.js -->
    <script src="../bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->
  </head>
  <body>

  <header>
    <h1>queue</h1>
  </header>

  <main>
    <div class="matt queue">
      <h2>Matt's queue</h2>
      <ul id="matt-queue">
      </ul>
    </div>

    <div class="jake queue">
      <h2>Jake's queue</h2>
      <ul id="jake-queue">
      </ul>
    </div>

    <form>
      <input type="text" placeholder="yo' name" id="name">
      <select id="who">
        <option>Matt</option>
        <option>Jake</option>
      </select>
      <a href="#" id="add">add yo'self to the queue</a>
    </form>

  </main>

  <footer>
    please improve me and make a pull request
  </footer>

    <script type="text/template" id="templates-queue-item">
      <li id="<%= id %>">
        <input class="completed-checkbox" type="checkbox" />
        <span>name: <%= name %></span>
        <span>time submitted: <%= when %></span>
      </li>
    </script>

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/underscore/underscore.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js scripts/main.js -->
        <script src="scripts/main.js"></script>
        <!-- endbuild -->
</body>
</html>
